body,
html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url("imagens/cenario.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.timer {
  background-image: url('imagens/cronometro.png');
  height: 150px;
  background-repeat: no-repeat;
}

.center {
  text-align: center;
  text-justify: auto;
  width: 200px;
  height: 25px;
}